/* Clases específicas utilizadas en el HTML proporcionado */
.foto-container {
    display: flex; /* Para alinear las capas horizontalmente */
    flex-wrap: wrap; /* Para permitir que las capas salten a la siguiente línea */
}

.foto {
    width: 150px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    border: 1px solid #ccc;
    position: relative;
}

.foto:hover .cruz-delete-foto {
    opacity: 0.8;
    border: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Reglas generales aplicables a cualquier HTML */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.foto i {
    font-size: 40px;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.foto:hover i {
    color: #333;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

