<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nombre página</title>
</head>
<body>
    <form>
        User:<input type="text">
        Pasword:<input type="password">
        <input type="submit" value="Registrar">
    </form>
    <hr>
    <!--Cambiar esto por unas tarjeticas to guapas-->
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Ver Anuncio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="advert : ${adverts}">
                <td th:text="${advert.getTitle()}"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getDescription()}"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getPrice()}+'€'"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getUser().getUsername()}"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getCreatedAt()}"><a th:href=""><span></span></a></td>
                <td><a th:href="@{/anuncios/ver/{id}(id=${advert.getId()})}">Ver Anuncio</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>Cantidad de anuncios: <span th:text="${count}"></span></p>
</body>
</html>