<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Crear anuncio</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/672cc63c77.js" crossorigin="anonymous"></script>
</head>
<body>
  <form th:action="@{/anuncios/new}" method="post" th:object="${advert}" enctype="multipart/form-data">
    Producto:<input type="text" th:field="${advert.title}"><br>
    Precio:<input type="number" th:field="${advert.price}"><br>
    Descripción:<textarea th:field="${advert.description}"></textarea><br>
    <div class="foto-container">
      <div th:each="foto : ${advert.adsPics}"
           class="foto"
           th:style="'background-image: url(/advertsPictures/' + ${foto.name} + ');'">
        <a th:href="@{/anuncios/{id1}/pictures/{id2}/del(id1=${advert.id}, id2=${foto.id})}">X</a>
      </div>
      <div class="foto" id="nuevaFoto">
        <i class="fa-regular fa-image"></i>
      </div>
    </div>
    <input type="submit" value="Editar">
  </form>

  <script type="text/javascript">
    document.getElementById("nuevaFoto").addEventListener("click", function () {
      document.getElementById("nuevoArchivo").click();
    } );

    document.getElementById("nuevoArchivo").addEventListener("change", function () {
      document.getElementById("formulario-add-foto").submit();
    })
  </script>


</body>
</html>