<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nombre página</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <!-- Verifica si el usuario es admin -->
        <ul>
            <li><a th:href="@{/anuncios}">Ver anuncios</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Registrar</a></li>
            <li><a th:href="@{/logout}">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Imagen</th>
                <th>Ver Anuncio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="advert : ${adverts}">
                <td th:text="${advert.getTitle()}"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getDescription()}"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getPrice()}+'€'"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getUser().getUsername()}"><a th:href=""><span></span></a></td>
                <td th:text="${advert.getCreatedAt()}"><a th:href=""><span></span></a></td>
                <td><img th:src="@{'/advertsPictures/' + ${advert.getAdsPics().get(0).getName()}}" height="120px"></td>
                <td><a th:href="@{/anuncios/ver/{id}(id=${advert.getId()})}">Ver Anuncio</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>Cantidad de anuncios: <span th:text="${count}"></span></p>
</body>
</html>