<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Crear anuncio</title>
</head>
<body>
  <form th:action="@{/anuncios/new}" method="post" th:object="${advert}" enctype="multipart/form-data">
    Producto:<input type="text" th:field="${advert.title}"><br>
    Precio:<input type="number" th:field="${advert.price}"><br>
    Descripción:<textarea th:field="${advert.description}"></textarea><br>
    <div class="contenedorFotosProductosInsert" >
      <div class="fotoProductoInsert" onclick="triggerFileInput(this)">
        <input type="file" name="picturesFiles" class="file-input" accept="image/jpeg, image/png, image/gif, image/webp" onchange="previewImage(this)">
      </div>
    </div>
    <input type="submit" value="Crear">
  </form>

  <script>
    // Abre el cuadro de selección de archivos del input correspondiente
    function triggerFileInput(caja) {
      caja.querySelector('.file-input').click();
    }

    // Previsualiza la imagen seleccionada dentro de la caja
    function previewImage(input) {
      const file = input.files[0];
      const tiposPermitidos = ["image/jpeg", "image/png", "image/gif", "image/webp"];

      if(file && !tiposPermitidos.includes(file.type)){
        alert("Por favor, selecciona un archivo de imagen válido (JPEG, PNG, GIF o WEBP).");
      }
      else {
        if (file) {
          const reader = new FileReader();

          reader.onload = function (e) {
            let img = input.parentElement.querySelector('img');
            // Si ya existe una imagen, la reutilizamos; si no, creamos una nueva
            if (!img) {
              img = document.createElement('img');
              input.parentElement.appendChild(img);
            }

            img.src = e.target.result; // Asigna la imagen como fondo de la caja
          };

          reader.readAsDataURL(file);


        } else {    //No ha seleccionado archivo y hay foto la foto
          let img = input.parentElement.querySelector('img');

          if (img) {
            img.remove();
          }
        }
      }
    }
  </script>


</body>
</html>