<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <form th:action="@{/login}" method="post">
        <label for="userName">Usuario:</label>
        <input type="text" name="userName"><br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Entrar">
    </form>
    <br>
    <a th:href="@{/register}">Registrarse</a>
</body>
</html>